@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #fdf9ee;
  --color-secondary: #1c1c20;
  /* --color-logo: #323239;
  --color-card: #f6f0de;
  --color-head: #1d1d22;
  --color-desc: #4e4e55;
  --color-link: #2f71b4; */
}

html.dark {
  --color-primary: #1c1c20;
  --color-secondary: #fdf9ee;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --font-josefin: var(--font-josefin);
  --font-cinzel: var(--font-cinzel);
}

@layer base {

	*,
	*::before,
	*::after {
		@apply font-josefin scroll-smooth;
	}

  body {
		@apply bg-primary text-secondary;
	}


	input,
	button {
		@apply outline-none;
	}

	article {
		@apply min-h-screen scroll-mt-15 border-t border-b border-gray-200 p-4;
	}
}

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
}

@layer components {
	.title {
		@apply text-2xl md:text-3xl font-semibold text-center mb-6;
	}
}
